# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.blockMan.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\blockMan\.idea\.idea.blockMan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
